.header-container {
  background-color: #17191e;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}

.header-title {
  font-size: 30px;
  text-align: left;
  padding: 20px;
  margin: 0;
}
